
.tourInfo{
    border: 2px solid black;
    width: 300px;
    height: 250px;

}


.tourInfo > a {
    display: block;
    color: black;
}

.container{
    padding-inline: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: center;
}


.container a{
    color: #181E4B;
}



/* .tourInfo::after{
    content:"";
    display: block;
    width: 300px;
} */


